<%= render 'layouts/components/modal' do%>
   <%= render '/teams/members/member_detail'%> 
   <% if current_member?(@member) %>
        <div class="flex justify-end">
            <%= link_to  edit_users_members_profile_value_path(@member.id),data:{turbo:false},class:"border-b border-black hover:font-semibold hover:border-b-2" do%>  
                <i class="fa-solid fa-pen-to-square"></i>
                編集する
            <% end %>
        </div>
   <% end %>
<% end %>