
<div class="bg-white  rounded-lg px-8 py-1 border border-gray-200  mb-10 w-3/5 ">
    <h2 class="text-xl font-bold my-1">メンバーを検索</h1>
    <div class="flex justify-start">
        <%=form_with(url:team_members_filters_path(@team.uuid),method: :get,class:"w-full",data:{turbo_frame:"filtered-team-members",controller:"form",action:"input->form#submit"}) do |f|%>
            <div data-form-target="container">
                <%= render 'teams/members/filters/field',f:f %>
            </div>
                
        <% end %>
    </div>
</div>

