
<div class="bg-white  rounded-lg px-2 xl:px-8 py-1 border border-gray-200  mb-8 xl:w-3/5 w-full">
    <div class="flex justify-between items-center mb-3">
        <h2 class="xl:text-xl text-lg font-bold my-1">
            <i class="fa-solid fa-magnifying-glass"></i>
            メンバーを検索
        </h1>
        <div data-controller="modal">
            <%= render 'teams/members/filters/instruction_modal' %>
            <button class="rounded-full bg-yellow-400 px-2.5 py-1 m-1" data-action="modal#open" >
                <i class="fa-regular fa-lightbulb text-white text-lg"></i>
            </button>
        </div>
    </div>
    <div class="flex justify-start">
        <%=form_with(url:team_members_filters_path(@team.uuid),method: :get,class:"w-full",data:{turbo_frame:"filtered-team-members",controller:"form",action:"input->form#submit"}) do |f|%>
            <div data-form-target="container">
                <%= render 'teams/members/filters/field',f:f %>
            </div>  
        <% end %>
    </div>
</div>

