<div class="bg-gray-100 p-2 rounded-lg shadow-md items-center inline-flex w-auto">
    <div class="text-xs xl:text-xl font-semibold text-gray-700 mr-2">
        <i class="fa-solid fa-magnifying-glass "></i> 
        ヒットしたメンバー : 
    </div>
    <span class="text-base xl:text-2xl font-bold text-blue-600 flex">
        <% if @filtered_members.count == 0 %>
            <p class="text-base xl:text-2xl font-bold text-red-600">0 人</p>
        <% else %>
            <%= @filtered_members.count %> 人
        <% end %>
    </span>
</div>