<%= button_to user_google_oauth2_omniauth_authorize_path, method: :post, data: { turbo: false },id:"google" do %>
  <%= image_tag 'google.svg', class: "hover:scale-105 active:scale-95 transition-transform duration-300 ease-in-out mb-3" %>
<% end %>
<p class="text-center text-gray-400">or</p>
<%= button_to  user_line_omniauth_authorize_path, method: :post,data:{turbo:false},id:"line" do%>
  <%= image_tag 'line.png',class:"hover:scale-105 active:scale-95 transition-transform duration-300 ease-in-out w-36 mt-3"%>
<% end %>