<% if @token %>
    <div data-controller="clipboard" class="w-full">
    <textarea readonly data-clipboard-target="source" class="border bg-white shadow-md rounded-lg h-auto border-gray-200 w-full overflow-x-auto whitespace-nowrap">
    以下のリンクから <%= @team.name %> に参加しましょう！
    
    👉 <%= teams_invitation_url(token: @token, team_id: @team.uuid) %>

    チームID・パスワードによる認証なしで簡単に参加することができます。
    Members Hub に登録/ログインしていない場合は、登録/ログイン後にチームへの認証が完了します。

    ⚠️この招待リンクの有効期限は<%= @expires_at.strftime("%Y/%m/%d %H:%M") %>です。期限を過ぎたリンクは無効となりますのでご注意ください。
    </textarea>
        <div class="flex justify-end mt-2">
            <button data-clipboard-target="button" data-action="clipboard#copy" class="border text-white bg-gray-500 lg:text-base text-sm p-1.5 rounded-md font-semibold hover:bg-gray-600">
             <i class="fa-solid fa-clipboard"></i> コピーする
            </button>
        </div>
    </div>
<% else %>
    <div class="text-gray-500 border bg-white shadow-md rounded-lg h-auto p-3 text-center xl:text-base text-xs">
        <p>リンクを参照できませんでした</p>
        <p>参照するには、生成したブラウザと</p>
        <p>同一のブラウザである必要があります</p>
    </div>
<% end %>
