<%= render 'layouts/components/modal' do %>
  <div class="flex justify-center items-center p-2">
    <div class="max-w-2xl w-full">
      <div class="flex justify-between items-start -mb-7">
        <button data-action="modal#close" class="lg:text-3xl text-xl text-gray-700 hover:text-gray-900">
          <i class="fa-solid fa-square-xmark text-gray-500"></i>
        </button>
      </div>
      <h1 class="lg:text-3xl text-xl font-bold text-center mb-6 ">招待リンク</h1>

      <div class="flex flex-col items-center">
        <div class="flex items-center mb-4">
          <div class="font-semibold mr-2 xl:text-base text-sm">有効期限:</div>
          <div class="text-gray-700 xl:text-base text-sm"><%= @expires_at.strftime("%Y/%m/%d %H:%M") %></div>  
        </div>

        <%= render 'users/admins/teams/invitations/link' %>

        <div class="border border-gray-300 rounded-md p-5 w-full text-start  text-gray-700 mt-6 xl:text-base text-xs font-semibold overflow-x-auto">
          <p>このリンクから、ユーザーはチームID/パスワードによる認証をスキップしてチームに参加することができます。</p>
          <br>
          <p>リンクを共有して、沢山のユーザーをチームに招待しましょう！</p>
          <br>
          <p>※上記のリンクが失効するまでリンクを再生成することはできません</p>
        </div>
      </div>
    </div>
  </div>
<% end %>
