
  <div class="m-5 flex justify-start" id="flash">
    <% if flash[:notice] %>
        <div class="animate-flash bg-blue-100 border border-blue-500 w-full xl:w-2/3 text-blue-700 px-4 py-3 rounded" role="alert">
          <%= notice %>
        </div>
      <% end %>
      <% if flash[:alert] %>
        <div class="animate-flash bg-red-100 border border-red-400 w-full xl:w-2/3 text-red-700 px-4 py-3 rounded" role="alert">
          <%= alert %>
        </div>
    <% end %>
  </div>

