<% if team_has_profile_values_more_than_three?(@team) %>
    <%= link_to '完了', users_admins_teams_path, data: { turbo: false }, class: "bg-blue-500 text-white py-2 px-4 rounded-md text-xl shadow-sm hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 inline-block" %>  
<% else %>
    <div class="bg-gray-300 text-gray-600 cursor-not-allowed py-2 px-4 rounded-md shadow-sm text-xl focus:outline-none focus:ring-2 focus:ring-offset-2 inline-block">
        完了
    </div>
<% end %>
