<div class="bg-blue-50 border-l-4 border-blue-500 text-blue-700 p-4 rounded-md mt-10 mr-5">
    <ul class="mt-2 list-disc list-inside">
        <li>プロフィール項目は「プロフィール画像」「名前」「生年月日」がデフォルトで設定されており、削除/編集はできません</li>
        <br>
        <li>7つまで項目を追加できます</li>
        <br>
        <li>メンバーを一覧で表示した時には、上から３番目に設定した追加項目が表示されます</li>
        <br>
        <li>項目は後から編集/追加/削除することができます</li>
    </ul>
</div>
