<h1 class="text-2xl font-bold mb-6">チームのプロフィール項目を設定</h1>

<%= turbo_frame_tag "form" do %>
  <%= render 'teams/profile_fields/form' %>
<% end %>

<div id="profile_fields" class="mt-10">
  <% if @team %>
    <%= render @team.profile_fields %>
  <% end %>
</div>


<div class="mt-40">
  <%= link_to '完了', users_admins_teams_path,class: "bg-blue-500 text-white py-2 px-4 rounded-md shadow-sm hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2" %>
</div>