<h1 class="text-2xl font-bold mb-4">管理中のチーム</h1>

<% if @teams.present? %>
  <div class="space-y-4">
    <%= render partial: 'teams/team', collection: @teams %>
  </div>
<% else %>
  <p class="text-gray-500">現在あなたが管理しているチームはありません</p>
<% end %>
