<div data-controller="dropdown"
     data-action="click@window->dropdown#hide touchstart@window->dropdown#hide keydown.up->dropdown#previousItem keydown.down->dropdown#nextItem keydown.esc->dropdown#hide"
     class="inline-block relative">
    <div class="p-3 pr-52 flex-col">
        <button data-action="dropdown#toggle:stop" id="icon_button"> 
            <div class="relative w-14 h-14 overflow-hidden bg-gray-100 rounded-full dark:bg-gray-600">
                <svg class="absolute w-16 h-16 text-gray-400 -left-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z" clip-rule="evenodd"></path></svg>
            </div>
        </button>
        <div class="pl-0">
            <%= render 'layouts/components/drop_down_menu' %>
        </div>
    </div>
</div>