<%=turbo_frame_tag "modal" do%>
    <div data-controller="modal" data-modal-open-value >
        <dialog data-modal-target="dialog" class="animate-fade-in-up bg-white rounded-lg ">
                <div class="inline-block align-bottom  p-4 text-left  shadow-xl">
                    <%=yield%>
                </div>
        </dialog>
    </div>
<% end %>