<div data-controller="toggle">
    <div class="text-gray-100 text-xl p-7 hover:bg-zinc-500 transition-colors duration-300"
         data-action='click->toggle#toggle touch->toggle#toggle'>
        <i class="fa-solid fa-users-viewfinder pr-2"></i>
        メンバーを閲覧
    </div>
    <div data-toggle-target="toggleable" class="hidden text-white">
        <div class="p-4 flex justify-end mr-4">
                <div class="grid gap-4">
                    <p class="hover:text-blue-500 hover:font-bold  transition-colors duration-300">
                        <i class="fa-solid fa-caret-right pr-1"></i>
                        テストテストサークル
                    </p>
                    <p class="hover:text-blue-500 hover:font-bold  transition-colors duration-300">
                        <i class="fa-solid fa-caret-right pr-1"></i>
                        テストテストサークル
                    </p>
                    <p class="hover:text-blue-500 hover:font-bold  transition-colors duration-300">
                        <i class="fa-solid fa-caret-right pr-1"></i>
                        テストテストサークル
                    </p>
                </div>
        </div>
    </div>
</div>