<div data-controller="toggle">
    <div class="text-gray-100 text-xl p-7 hover:bg-zinc-500 transition-colors duration-300"
         data-action='click->toggle#toggle touch->toggle#toggle' id="member_viewing_button">
        <i class="fa-solid fa-users-viewfinder pr-2"></i>
        メンバーを閲覧
    </div>
    <div data-toggle-target="toggleable" class="hidden text-white">
        <div class="p-4 flex justify-start ml-5">
            <div class="grid gap-4">
                <% unless current_user.members.present? %>
                   <p class="text-xs">
                        <i class="fa-solid fa-caret-right pr-1"></i>
                            参加しているチームはありません  
                    </p>
                <% end %>
                <%current_user.members.map do |member|%>
                    <%= link_to team_members_path(member.team.uuid) ,class:"hover:text-blue-500 hover:font-bold  transition-colors duration-300" do%>
                         <i class="fa-solid fa-caret-right pr-1"></i>
                        <%=member.team.name%>
                    <% end %> 
                <% end %>
            </div>
        </div>
    </div>
</div>